h1{
    border: 10px solid darkgreen;
    border-radius: 15px;
    background-color: green;
    color :white;
    width: 60%;
}

h3{
    border: 10px solid rgb(163, 76, 10);
    border-radius: 15px;
    background-color:orange ;
    width: 60%;
}

img{
    border:4px solid black;
    border-style: double;
    border-radius: 50px;
    width: 60%;
}
h2{
    text-decoration: underline;
    color: blue
}
